<div class="app-container" [ngClass]="{'waiting': isProcessing}">

  <div class="parameters-section">
    <div class="parameter-input">
      <label htmlFor="displayMode">Tryb wyświetlania</label>
      <select id="diplayMode" (change)="onDisplayModeChange($event)">
        <option value="kidney">Nerka</option>
        <option value="layer">Warstwy</option>
      </select>
    </div>
    <div *ngIf="displayMode === 'kidney'">
      <div class="parameter-input">
        <label htmlFor="numberOfPointsOnLayer">Liczba punktów na warstwę</label>
        <input id="numberOfPointsOnLayer" type="number" value="{{numberOfPointsOnLayer}}" (change)="onNumberOfPointsOnLayerChange($event)"/>
      </div>

      <div class="parameter-input">
        <label htmlFor="numberOfIntermediateLayers">Stopień zwielokrotnienia warstw</label>
        <input ng id="numberOfIntermediateLayers" type="number" value="{{numberOfIntermediateLayers}}" (change)="onNumberOfIntermediateLayersChange($event)"/>
      </div>

      <div class="parameter-input">
        <label htmlFor="interpolationMethodSelect">Metoda interpolacji</label>
        <select  id="interpolationMethodSelect" (change)="onInterpolationMethodChange($event)">
          <option value="Linear">Linear</option>
          <option value="CubicSpline">Cubic Spline</option>
        </select>
      </div>

      <div class="parameter-input">
        <label htmlFor="triangulationMethodSelect">Metoda triangulacji</label>
        <select  id="triangulationMethodSelect" (change)="onTriangulationMethodChange($event)">
          <option value="BY_POINTS_DISTANCE">Najmniejsza odległość</option>
          <option value="BY_ANGLE">Najmniejszy maksymalny kąt</option>
          <option value="BY_LENGTH_SUM">Najmniejszy obwód</option>
        </select>
      </div>
    </div>
    <div class="file-upload">
      <label class="file-upload-label">
        <input type="file" multiple style="width: 180px;" (change)="onFileUpload($event)" accept=".ctl"/>
        Wgraj Pliki
      </label>

    </div>
    <div class="file-upload-status">{{getFileUploadStatusText()}}</div>

    <div class="visualise-button">
      <button (click)="onVisualiseButtonClick()" [disabled]="!buttonEnabled">Wizualizuj</button>
    </div>


  </div>
  <div class="three-container"></div>
</div>
